---
import MovielensBridge from "@src/movielens-import-view"
import globalStyles from "@src/index.css?url"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<link rel="stylesheet" href={globalStyles} />
		<title>Bridge 2 Letterboxd</title>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<MovielensBridge client:only="solid-js" />
	</body>
</html>
