@import 'tailwindcss';

:root {
  @apply bg-white dark:bg-gray-900;
}

@theme {
  --color-delete-red: #dc2626;
  --color-movielens-orange: #f06624;
  --color-letterboxd-orange: #FF9900;
  --color-letterboxd-green: #00E054;
  --color-letterboxd-blue: #40BCF4;
  --color-confirm-green: #00ac1c;
}

@utility button-behavior {
  @apply cursor-pointer;
  @apply transition-transform duration-100 ease-in-out;
  @apply active:translate-y-0.25 active:translate-x-[calc(0.125rem)];
  @apply select-none pointer-fine:select-auto;
  @apply disabled:pointer-events-none;
  @apply will-change-transform;
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  @apply touch-manipulation;
}

@utility primary-text {
  @apply text-gray-900 dark:text-gray-200;
}
@utility secondary-text {
  @apply text-gray-400 dark:text-gray-500;
}
:root {
  @apply primary-text;
}

@utility external-link {
  @apply text-blue-600 dark:text-blue-400 underline;
  @apply hover:text-blue-800 dark:hover:text-blue-600;
  @apply visited:text-purple-600 dark:visited:text-purple-400;
}

@utility basic-button {
  @apply button-behavior;
  @apply border px-1.5 rounded-sm;
  @apply shadow-sm hover:shadow-md active:shadow-none;
  @apply dark:shadow-gray-700;
}

@utility green-button {
  @apply basic-button font-medium;
  @apply border-confirm-green bg-confirm-green text-white;
}

@utility red-button {
  @apply basic-button font-medium;
  @apply bg-delete-red border-delete-red text-white;
}

@utility orange-button {
  @apply basic-button font-medium;
  @apply bg-movielens-orange border-movielens-orange text-white;
}

@utility outlined-orange-button {
  @apply basic-button font-semibold;
  @apply bg-transparent border-movielens-orange text-movielens-orange;
}
